.aboutus-wrapper {
  height: 100vh;
  background: linear-gradient(
      rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)
    ),
    url("Assets/korpa-transp.png");
  background-size: 370px auto;
}
